# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# OS junk files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Notebook checkpoints
.ipynb_checkpoints/

# Large ML model files (DO NOT TRACK IN GIT)
*.h5
*.keras
*.pkl

# Images + uploads (optional)
uploads/


node_modules
dist
build
*.h5
*.pth
