# Core ML
python-3.10
tensorflow==2.10.0
numpy==1.26.4
pillow
h5py==3.7.0

# FastAPI server
fastapi==0.95.2
uvicorn[standard]==0.22.0
pydantic==1.10.13
python-multipart

# Environment
python-dotenv

# Database
pymongo
motor

# Auth & Security
passlib[bcrypt]
python-jose
werkzeug
