# Core ML (Lightweight)
tflite-runtime
numpy==1.26.4
pillow
requests

# FastAPI
fastapi==0.95.2
uvicorn[standard]==0.22.0
pydantic==1.10.13
python-multipart

# Environment
python-dotenv
pytz

# Database
pymongo>=4.7
motor
dnspython

# Auth & Security
passlib[bcrypt]
python-jose
werkzeug
email-validator