# Core ML
tensorflow==2.10.0
numpy==1.26.4
pillow

# FastAPI 
fastapi==0.95.2
uvicorn[standard]==0.22.0
pydantic==1.10.13
python-multipart
huggingface_hub

# Environment
python-dotenv
pytz


# Database
pymongo
motor
pymongo>=4.7
dnspython


# Auth & Security
passlib[bcrypt]
python-jose
werkzeug
email-validator
